body { background-color: #672F9E;}

nav { justify-content: space-between; background-color: #171717; align-items: center; padding:0px 22px;
border-radius: 0 0 25px 25px;}

nav div {color: white; border-radius: 60px;padding: 5px 10px;font-size: larger; }

.selected{background-color: #FD853A; }

.any3 img {width: 55px;}

.any5 img {width: 70px; border-radius: 50%; position: absolute;
    top: -28px; z-index: 2;}

.any5 {position: relative;width: 80px;}

nav .clickable:hover {background-color:#672F9E ;}

a {text-decoration: none;}

footer {position: absolute; bottom: 0; width: 100%;background-color: #171717; color: white; }

.styler {    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;}

.stylel {    display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;}

.social-icons {width: 12px; height: 12px;}

.c-orange {color: #FD853A;}