body {
    background-image: url(./Assets/BG.jpg);
}

nav {
    justify-content: space-between;
    background-color: #171717;
    align-items: center;
    padding: 0px 0.008%;
    border-radius: 0 0 25px 25px;
}

nav div {
    color: white;
    border-radius: 60px;
    padding: 5px 10px;
    font-size: 1rem;
}

.selected {
    background-color: #FD853A;
}

.any3 img {
    width: 55px;
}

.any5 img {
    width: 70px;
    border-radius: 50%;
    position: absolute;
    top: -28px;
    z-index: 2;
}

.any5 {
    position: relative;
    width: 80px;
}

nav .clickable:hover {
    background-color: #672F9E;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #171717;
    color: white;
    border-radius: 25px 25px 0 0;
    font-size: 0.7rem;
}

.styler {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}

.stylel {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

.social-icons {
    width: 15px;
    height: 15px;
}

.c-orange {
    color: #FD853A;
}

.bk-orange {
    background-color: #FD853A;
}

.bk-purple {
    background-color: #672F9E;
}

.contas {
    margin: 0px 20px;
}

.contas-title {
    margin: 0px 20px;
}

.d-flex span {
    margin: 2px 6px;
}

.black-to-white {
    filter: invert(100%) sepia(1%) saturate(558%) hue-rotate(143deg) brightness(118%) contrast(100%);
}

.xo-icons {
    height: 16px;
    width: 16px;
    margin: 0 3px;
}

.square {
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    border: 1px solid #D2D2D2;
}

.line {
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    border: 1px solid #D2D2D2;
    border-top: none;
    border-left: none;
    border-right: none;
}

.top-bar {
    background-color: #101010;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.top-bar-title {
    color: white;
    margin: 0 6px;
}

.top-bar-title img {
    width: 16px;
    height: 16px;
}

.window {
    border: 2px #FD853A;
    background-color: #000067;
    border-radius: 15px;
    overflow: hidden;
}

.vertical-line {
    border: 1px #6F6F6F solid;
    border-bottom: none;
    border-top: none;
    margin: 3px;
    width: 1px;
    min-height: 40px;
    max-height: 100%;
}

.chat-window {
    background-color: #1f1f1f;
    min-height: 50%;
    padding: 0px 5px;
    grid-area: vs;
    width: 100%;
}

.vscode-text {
    color: #672F9E;
    margin: 3px;
}

main {
    margin: 25px 7px;
}

.home-grid {
    display: grid;
    grid:
        'vs vs wn'
        'vs vs cht'
        'vs vs .';
    margin: 5% 2%;
}

.top-bar-buttons {
    margin-top: 6px;
    margin-right: 6px;
}

.main-chat-window {
    display: grid;
    grid-auto-columns: min-content;
    grid:
        't1 t1 t1 . . . . .'
        'v1 t2 t2 t2 t2 t2 t2 t2'
        'v1 v2 t3 t3 t3 t3 t3 t3'
        'v1 v2 v3 t4 t4 t4 t4 t4'
        'v1 v2 v3 v4 t5 t5 t5 t5'
        'v1 v2 v3 v4 v5 . . .'
    ;
    min-height: 100%;
    overflow: hidden;
    font-size: 3em;
}

.t1 {
    grid-area: t1;
}

.t2 {
    grid-area: t2;
}

.t3 {
    grid-area: t3;
}

.t4 {
    grid-area: t4;
}

.t5 {
    grid-area: t5;
}

.v1 {
    grid-area: v1;
}

.v2 {
    grid-area: v2;
}

.v3 {
    grid-area: v3;
}

.v4 {
    grid-area: v4;
}

.v5 {
    grid-area: v5;
}

.welcome-window .top-bar {
    background-color: #8C1C13;
}

.welcome-main {
    background-color: #FD853A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 0 0 15px 15px;
}

.welcome-main div {
    text-align: center;
    margin: 5px;
}

.projects-button {
    background-color: #EFBC1B;
    padding: 7px 20px;
    border-radius: 50px;
    border: solid #000000 1px;
}

.welcome-window {
    border: 2px #FEB181 solid;
    background-color: #FD853A;
    max-height: fit-content;
    grid-area: wn;
    width: 100%;
    position: relative;
    right: 80px;
    top: 23px;
    z-index: 2;
}

.chat {
    background-color: #171717;
}

.chat-bubble {
    background-color: #FD853A;
    margin: 3% 4px;
    padding: 7px 12px;
    border-radius: 15px;
    font-size: 1rem;
}

.send-bar {
    background-color: #C1C1C1;
    padding: 4px;
}

.type-box {
    background-color: #E2E2E2;
    padding: 1px 80px 1px 5px;
    border-radius: 15px;
    width: 100%;
    margin: auto auto auto 3%;
}

.message-window {
    grid-area: cht;
    width: 80%;
    position: relative;
    right: 39px;
    top: 11px;
    border: 1px solid #FEB181;
}

.list-main {
    background-color: #171717;
    padding: 17px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    max-height: max-content;
}

.chat-bubble-v2 {
    background-color: #FD853A;
    border-radius: 25px;
    padding: 15px;
    margin: 3% 4px;
    font-size: 1.2rem;
}

.chat-bubble-p1 {
    text-align: center;
    border-bottom: 1px solid;
}

.chat-bubble-p2 {
    text-align: center;
}

.degrees-window {
    border: 2px #FD853A solid;
}

.projects-grid {
    display: grid;
    grid:
        'cpp port'
        'cpp port'
        'cpp wip';
    margin: 5% 10% 5% 10%;
    column-gap: 5%;
}

.cpp-window {
    grid-area: cpp;
    width: fit-content;
    height: fit-content;
    border: 1px solid #FD853A;
}

.portfolio-window {
    grid-area: port;
    width: fit-content;
    height: fit-content;
    border: 1px solid #FD853A
}

.wip-window {
    grid-area: wip;
    width: fit-content;
    height: fit-content;
    border: 1px solid #FD853A
}

.chat-image {
    background-color: #3E184B;
    border-radius: 15px;
    overflow: hidden;
    margin: 3% 4px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-window {
    width: fit-content;
    border: 1px solid #FD853A;
    margin: 15px
}

.about-window.top-bar {
    width: 50px;
}

.about-window3.top-bar {
    width: 50px;
}

.skills .chat-bubble {
    margin: 0.6% 1% !important;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.about-window3 {
    border: 1px solid #FD853A;
    margin: 15px;
}

.greycol {
    color: #6F6F6F;
}

@media only screen and (max-width: 900px) {
    nav div {
        font-size: 0.5rem;
    }

    /* nav {overflow: hidden;} */

    .any3 img {
        width: 35px;
    }

    .any5 img {
        width: 50px;
        top: -19px !important;
    }

    .home-grid {
        grid: 'wn wn'
            'cht cht'
            'vs vs';
        margin-bottom: 20%;
        row-gap: 4px;
    }

    .welcome-window {
        top: 0px;
        right: 0px;
        height: fit-content;
    }

    .message-window {
        top: 0px;
        right: 0px;
        width: 100%;
    }

    .main-chat-window {
        font-size: 1.5rem !important;
    }

    .projects-grid {
        grid: 'cpp' 'port' 'wip';
        margin-bottom: 50% !important;
        row-gap: 2%;
        justify-content: center;
    }

    .education-specific {
        margin: 10px 4px 40% 4px;
    }

    .education-specific .window {
        margin: 10px 0px
    }

    .about-main {
        margin-bottom: 20%;
    }

    /* test to see if media triggers 
    main {background-color: #000000;} */
}

@media only screen and (min-width: 1400px) {
    .home-grid {
        margin: 5% 5% 2% 5%;
    }

    nav div {
        font-size: 2rem;
    }

    footer {
        font-size: 1rem;
    }

    .main-chat-window {
        font-size: 3.4rem !important;
    }

    .chat-bubble-v2 {
        font-size: 2rem !important;
    }

    .chat-bubble {
        font-size: 2rem !important;
    }
}